.button {
    width: 236px;
    height: 60px;
    background-color: $main-color;
    color: #fff;
    border: none;
    cursor: pointer;
    text-align: center;
    font-weight: 600;
    font-size: 1.25rem;
    outline: transparent;
    &_main {
        line-height: 28px;
        padding: 19px 62.5px;
        margin-top: 150px;
    }
    &_form {
        width: 280px;
        height: 60px;
        padding: 4px 20px 0 20px;
    }
    &_catalog {
        width: 195px;
        height: 55px;
        padding: 15px 18px;
    }
    &_samples {
        margin-top: 55px;
        width: 195px;
        height: 55px;
        padding: 15px 18px;
    }

}
.button:hover {
    background-color: $dark-color;
}

.button:active, .button:focus {
    outline: none;
  }