.catalog {
	&__wrapper {
		max-width: 930px;
		padding: 100px 0 100px 0;
		text-align: center;
		margin: 0 auto;
	}
	&__tabs {
		margin-top: 30px;
		display: flex;
		justify-content: center;
		padding: 0;
	}
	&__tab {
		font-family: 'Open Sans', sans-serif;
		font-weight: 400;
		font-size: 1rem;
		text-align: center;
		color: #646363;
		margin: 0 20px;
		cursor: pointer;
		&_active {
			color: $main-color;
			padding-bottom: 5px;
			border-bottom: 2px solid $main-color;
		}
	}
	&__content {
		display: none;
		&_active {
			margin-top: 80px;
			display: flex;
			justify-content: space-between;
		}
	}
	&__item {
		width: 300px;
		min-height: 600px;
		hr {
			color: $main-color;
			max-width: 220px;
			margin: 0 auto;
			margin-top: 15px;
			margin-bottom: 15px;
		}
		&-img {
			display: block;
			max-width: 100%;
			height: 300px;
			margin: 0 auto;
		}
		&-subtitle {
			margin-top: 22px;
			color: $main-color;
			font-size: 1.375rem;
			text-transform: capitalize;
		}
		&-descr {
			color: #646363;
			max-width: 220px;
			margin: 0 auto;
			line-height: 170%;
		}
		&-link {
			font-family: 'Open Sans', sans-serif;
			font-weight: 400;
			font-size: 1rem;
			text-align: center;
			color: $main-color;
			display: inline-block;
			margin-top: 5px;
			align-items: center;
			&::after {
				content: "";
				display: inline-block;
				transform: rotate(45deg);
				width: 7px;
				height: 7px;
				border-top: 1px solid $main-color;
				border-right: 1px solid $main-color;
				margin-left: 2px;
    			margin-bottom: 1px;
			}
			&:hover{
				color: $dark-color;
			}
			&:hover::after {
				border-top: 1px solid $dark-color;
				border-right: 1px solid $dark-color;
			}
		}
		&-price {
			font-weight: 600;
			font-size: 1.375rem;
			text-align: center;
			color: $dark-color;
			margin-top: 25px;
			margin-bottom: 24px;
		}
		&-wrapper {
			display: flex;
			width: 100%;
    		min-height: 600px;
		}
		&-content {
			width: 100%;
			display: none;
			transition: 0.5s all;
			&_active {
				display: block;
			}
		}
		&-about {
			width: 100%;
			display: none;
			&_active {
				box-shadow: 0px 10px 31px rgba(0, 0, 0, 0.08);
				overflow: visible;
				width: 100%;
				display: block;
			}
			&-descr {
				font-family: 'Open Sans', sans-serif;
				font-weight: 400;
				max-width: 250px;
				margin: 25px 20px 0 25px;
				text-align: left;
				font-size: 1rem;
				line-height: 160%;
			}
			&-back {
				font-family: 'Open Sans', sans-serif;
				font-weight: 400;
				font-size: 1rem;
				color: $main-color;
				display: block;
				text-align: left;
				margin-left: 25px;
				margin-top: 60px;
				&:before {
					content: '';
					display: inline-block;
					transform: rotate(225deg);
					width: 8px;
					height: 8px;
					border-top: 1px solid $main-color;
					border-right: 1px solid $main-color;
					margin-bottom: 1.5px;
				}
			&:hover {
				color: $dark-color;
			}
			&:hover:before  {
				border-top: 1px solid $dark-color;
				border-right: 1px solid $dark-color;
			}
			
			}
		}
	}
}