.consultation {
    background-color: $secondary-color;
    &__wrapper {
        padding: 100px 0 100px 0;
        text-align: center;
        margin: 0 auto;
    }
    &__descr {
        max-width: 343px;
        margin: 0 auto;
        line-height: 190%;
        margin-top: 15px;
    }
    &__form-wrapper {
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        margin-top: 100px;
        max-width: 864px;
    }
    &__form {
        display: flex;
        justify-content: space-between;
        min-width: 864px;
        input {
            color: $main-color;
            width: 280px;
            height: 60px;
            border: 1px solid #C6978F;
            background-color: transparent;
            padding: 4px 20px 0 20px;
            font-weight: 600;
            font-size: 1.25rem;
            outline: transparent;
            &::placeholder{
                color: $main-color;
            }
        }
    }
}