.header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    &__logo {
        font-weight: 600;
        font-size: 1.5rem;
        color: $main-color;
    }
    &__logo:hover {
        color: $dark-color;
    }
    &__items {
        display: flex;
        font-weight: 400;
        font-size: 1.125rem;
        line-height: 34px;
        margin-left: 378px;
        a {
            color: $dark-color;
        }
        a:hover {
            color: $main-color;
        }
    }
    &__link {
        padding: 0 15px 0 15px;
    }
    &__social {
        display: flex;
        width: 80px;
        height: 20px;
        justify-content: space-between;
    }
    
    .fa {
        padding-top: 2px;
        background-color: $main-color;
        color: #fff;
        height: 100%;
        min-width: 20px;
        text-align: center;
    }
    .fa:hover {
        background-color: $dark-color;
    }
}