.promo {
    min-height: 784px;
    padding: 35px 0 126px 0;
    background: url(../../img/bg_img.png) center (center/cover) no-repeat;
    &__wrapper {
        margin-top: 141px;
        max-width: 514px;
    }
    &__subtitle {
        margin-top: 16px;
    }
    &__link {
        font-weight: 600;
        font-size: 1.25rem;
        display: inline-block;
        margin-left: 38px;
        color: $main-color;
    }
    &__link:hover, &__link-arrow:hover {
        color: $dark-color;
    }
    &__link-arrow {
        display: inline-block;
        transform: rotate(45deg);
        width: 9px;
        height: 9px;
        border-top: 2px solid $main-color;
        border-right: 2px solid $main-color;
    }

}