.samples {
    &__wrapper {
        max-width: 930px;
		padding: 100px 0 100px 0;
		text-align: center;
		margin: 0 auto;
    }
    &__descr {
        max-width: 285px;
        margin: 0 auto;
        line-height: 190%;
        margin-top: 15px;
    }
    &__items {
        display: flex;
        justify-content: space-between;
        margin-top: 80px;
    }
    &__item {
        &-img {
			display: block;
			max-width: 100%;
			height: 300px;
			margin: 0 auto;
        }
        &-subtitle {
            margin-top: 22px;
			color: $main-color;
			font-size: 1.375rem;
			text-transform: capitalize;
        }
        &-descr {
            color: #646363;
			max-width: 220px;
			margin: 0 auto;
			line-height: 170%;
            margin-top: 10px;
        }
    }
    &__bg-flower {
        position: absolute;
        right: 0%;
        margin-top: -120px;
    }
}