.testimonials {
	background-color: $secondary-color;
	&__wrapper {
		padding-top: 80px;
		margin: 0 auto;
		max-width: 930px;
		min-height: 530px;
	}
	&__title {
		margin-bottom: 80px;
	}
	&__image {
		max-width: 150px;
		max-height: 150px;
	}
	&__text {
		display: block;
		position: relative;
		max-width: 488px;
		margin-left: 50px;
		flex-direction: column;
		align-content: space-between;
	}
	&__descr {
		min-width: 100%;
		text-align: left;
	}
	&__caption {
		min-width: 100%;
		text-align: left;
		font-size: 1rem;
		color: #575757;
		text-transform: capitalize;
		margin-top: 55px;
	}
	&__caption-rose {
		font-style: italic;
		color: $main-color;
	}
	&__carousel {
		display: flex;
		margin: 0 auto;
	}
	&__inner {
		display: block;
		margin: 0 auto;
		padding-left: 110px;
	}

	.slick-initialized .slick-slide {
		display: flex;
	}

	
	.slick-prev, .slick-next {
		outline: none;
		border: none;
		background-color: transparent;
	}


}


.slick-dots {
	position: absolute;
    display: flex;
    margin-top: 219px;
    margin-left: 410px;
	list-style: none;
	margin-bottom: 80px;
}
.slick-dots button {
    background: rgb(231, 231, 231); // цвет фона
    border: none; // без рамки
    border-radius: 100%; // радиус закругления
    height: 12px; // высота точки
    margin: 6px; // отступы между точками
    outline: none; // убираем обводку
}
.slick-dots li[class="slick-active"] button {
    background: $main-color;
}        

.slick-dots button {
	font-size: 0;    
}


.testimonials__inner tns-item {
	display: flex;
}



