.testimonials {
	background-color: $secondary-color;
	&__wrapper {
		padding: 80px 0 80px 0;
		margin: 0 auto;
		max-width: 932px;
	}
	&__title {
		margin-bottom: 80px;
	}
	&__image {
		max-width: 150px;
		max-height: 150px;
	}
	&__text {
		display: block;
		position: relative;
		max-width: 488px;
		margin-left: 50px;
		flex-direction: column;
		align-content: space-between;
	}
	&__descr {
		min-width: 100%;
		text-align: left;
	}
	&__caption {
		min-width: 100%;
		text-align: left;
		font-size: 1rem;
		color: #575757;
		text-transform: capitalize;
		margin-top: 55px;
	}
	&__caption-rose {
		font-style: italic;
		color: $main-color;
	}
	&__carousel {
		display: flex;
		margin: 0 auto;
	}
	&__inner {
		display: block;
		/* margin-left: 110px; */
		transform: translateX(12%);
	}

	.slick-initialized .slick-slide {
		display: flex;
	}

	
	.slick-prev, .slick-next {
		outline: none;
		border: none;
		background-color: transparent;
	}

}





